@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Add new cuisine category</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <input type="submit" value="Add new cuisine category">
}
<p>@Html.ActionLink("Show all cuisine categories", "Index")</p>