@{
  Layout = "_Layout";
}

<h1>Find the Best Restaurants!</h1>

<p>@Html.ActionLink("Search for cuisine", "Search", "Cuisines")</p>
<p>@Html.ActionLink("See all cuisine categories", "Index", "Cuisines")</p>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>